* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr) auto auto auto;
    grid-template-areas:
        "header header"
        "video video"
        "about about"
        "reviews reviews"
        "signup signup"
        "contact footer";
    gap: 5px;
}

/* navigation */

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        "logo"
        "nav";
}

img {
    grid-area: logo;
    max-width: 100%;
    height: auto;
    justify-self: center;
}

.header-nav ul,
.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav li,
.footer-nav li {
    display: inline;
}

.header-nav li:nth-child(2),
.footer-nav li:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
}

.header-nav {
    grid-area: nav;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 2em;
    justify-self: center;
    align-self: center;
}

.header-nav a,
.footer-nav a {
    text-decoration: none;
    color: #8a25b1;
}

.header-nav a:hover {
    color: #b974d4;
    border-bottom: 5px solid #b974d4;
}

/* demo */

#demo {
    grid-area: video;
    background: #8a25b1;
}

/* about */

#about {
    grid-area: about;
    background: #ffffff;
    color: #8a25b1;
    text-align: center;
}

#about h2 {
    text-decoration: underline;
}

/* reviews */

#reviews {
    grid-area: reviews;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
}

.reviews {
    border: 5px double #654272;
}

/* signup */

#signup {
    grid-area: signup;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#signup h2 {
    color: #8a25b1;
    text-decoration: underline;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: 0;
}

#form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "email"
        "submit";
    align-self: center;
    justify-items: center;
}

#signup fieldset {
    grid-area: email;
    border: none;
    color: #8a25b1;
}

#submit {
    grid-area: submit;
    justify-self: center;
    background-color: #8a25b1;
    color: #ffffff;
    text-align: center;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#submit:hover {
    background: #3b0550;
    cursor: pointer;
    border: none; 
}

/* contact */

#contact {
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

#contact button {
    background-color: #8a25b1;
    border: none;
    padding: 10px 30px;
    margin: 10px 0px 10px 0px;
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

#contact button:hover {
    background: #3b0550;
    cursor: pointer;
}

/* footer */

#footer {
    grid-area: footer;
    font-size: 1em;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

#footer p {
    color: #8a25b1;
    justify-self: end;
    align-self: center;
    margin: 0;
}

.footer-nav {
    display: inline-block;
    align-self: end;
    justify-self: end;
}

.footer-nav a:hover {
    color: #b974d4;
    border-bottom: 5px solid #b974d4;
}

@media screen and (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 2fr repeat(2, 1fr) 0.5fr;
        grid-template-areas:
            "header header header"
            "video video video"
            "about about email"
            "reviews reviews contact"
            "footer footer footer";
    }

    /* navigation */

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo nav nav";
    }

    img {
        max-width: 100%;
        height: auto;
        justify-self: center;
    }

    .header-nav ul,
    .footer-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .header-nav li,
    .footer-nav li {
        display: inline;
    }

    .header-nav {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        font-size: 3em;
        padding-bottom: 20px;
        padding-right: 20px;
        justify-self: end;
        align-self: end;
    }

    .header-nav a,
    .footer-nav a {
        text-decoration: none;
        color: #8a25b1;
        margin-right: 20px;
    }

    .header-nav a:hover {
        color: #b974d4;
        border-bottom: 5px solid #b974d4;
    }

    /* demo */

    #demo {
        grid-area: video;
        background: #8a25b1;
    }

    /* about */

    #about {
        grid-area: about;
    }

    /* email signup */

    #signup {
        grid-area: email;
    }

    /* reviews */

    #reviews {
        grid-area: reviews;
        background: #654272;
    }

    /* contact */

    #contact {
        grid-area: contact;
        background: rgb(59, 5, 80);
    }

    /* footer */

    #footer {
        grid-area: footer;
        font-size: 0.75em;
        background: #ffffff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #footer p {
        color: #8a25b1;
        justify-self: center;
    }

    .footer-nav {
        align-self: center;
        justify-self: center;
    }
}